.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.bg-gold-border  {
border: 1px solid  #e1bd85!important;
background-color: #fff;

}

.bg-gold  {
  background-color: #e1bd85!important;
}

.text-gold  {
  color: #b99d6e!important;  
}
.color-gold {
  color: #e1bd85!important;
}

.base-color{
  background-color: #800020e0!important;
}
.pointer {
  cursor: pointer;
}
.react-datepicker-wrapper .react-datepicker__input-container input {
  width: 100%;
}
.h-100px {
  height: 75px!important;
}

.CommonContainer {
  height: 45px!important;
  border-color: #800020e0;  
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.fs-7 {
  font-size: 11px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #23232391; 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #232323; 
}
.bg-light-grey {
  background-color: #D3D3D3;
}

.w-90 {
  width: 90%!important;
}

.room-details-modal ul li {
  list-style-type: none;    
}

.room-details-modal ul {
  padding: 0;
}